@import "./parziali/reset";
@import "./parziali/colori";
@import "./parziali/font";
@import "./parziali/spaziature";
@import "./parziali/bottoni";
@import "./parziali/mixins";
@import "./parziali/animazioni";

.container {
  margin-inline: auto;
  display: flex;
  gap: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: $bg_navbar;
  color: $testo;
  .logo {
    width: 150px;
  }
}
.nav-list {
  display: flex;
  gap: 1.5rem;
  li {
    font-size: $font-md;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    background-color: #cf649a;
    a {
      text-decoration: none;
      color: $testo;
    }
  }
}

.hero {
  font-family: $font;
  background-color: $bg_hero;
  color: $testo;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 340px;
  width: 100%;
  .texthero {
    margin: auto;
    text-align: center;
    h1 {
      font-size: $font-xl;
    }
    p {
      font-size: $font-md;
    }
    .btn1 {
      @extend .buttons;
      background-color: $btn1;
    }
    .btn2 {
      @extend .buttons;
      background-color: $btn2;
    }
    .btn3 {
      @extend .buttons;
      background-color: $btn3;
    }
  }
  .imgHero {
    display: flex;
    img {
      width: 100%;
      margin-inline: auto;
    }
  }
}
